---
interface Props {
    companyName: string
    city: string
    titles: string[]
    dateString: string[]
    description?: string
    years?: number | string
    imageContainerMarginRight?: string
}

const {companyName, city, titles, dateString, years, imageContainerMarginRight} = Astro.props

let yearString: string | undefined
if (years && typeof years === "string") {
    yearString = years
} else if (years) {
    yearString = `${years} yrs.`
}

const containerStyle = imageContainerMarginRight ? `margin-right: ${imageContainerMarginRight}` : ""
---
<div style="margin-bottom: 10rem">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
        <div style="display: flex; flex-wrap: wrap; margin-bottom: -0.25rem">
            <div class="image-container" style={containerStyle}>
                <slot name="image" />
            </div>
            <div style="min-width: 233px">
                <div class="lg:flex">
                    <div class="flex flex-nowrap">
                        <div class="text-[1.5rem] font-header font-semibold">{companyName}</div>
                        {years && <div class="ml-2 font-light text-grey text-[1rem] font-header" style="margin-top: 0.5rem">
                            {yearString}
                        </div>}
                    </div>
                </div>
                <div class="text-[1rem] font-header font-normal text-grey mb-4" style="margin-top: -0.4rem">
                    {city}
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 1rem">
        {titles.map((title, index) => (
            <div class="flex flex-wrap">
                <div class="text-[1rem] font-header font-semibold">
                    {title},&nbsp;&nbsp;
                </div>
                <div class="font-light text-grey" style="min-width: 200px">
                    {dateString[index]}
                </div>
                <div class="md:hidden" style="height: 2rem" />
            </div>
        ))}
    </div>

    <div class="text-[1rem] font-body mb-6">
        <slot name="description" />
    </div>

    <slot />
</div>
